<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ghDefaultDbProvider" value="GHDatabase.Mysql.MysqlHelper,GHDatabase.Mysql"/>
    <add key="ghDefaultDb" value="Database=Test;Data Source=localhost;User Id=username;Password=pass"/>
  </appSettings>
</configuration>